<h3>Dan Store</h3>
<p>
    Gửi <b><%= @order.name %></b>,
</p>
 
<p>
    Cảm ơn bạn vì đã đặt hàng, chi tiết:
</p>
<table>
    <tr>
        <th colspan="2">Mặt hàng</th>
        <th>Giá</th>
    </tr>
    
    <% @order.line_items.each do |item| %>
    <tr>
        <td><%= item.quantity %>x</td>
        <td><%= item.post.title %></td>
        <td class="item_price"><%= number_to_currency(item.total_price, :locale => :vi) %></td>
    </tr>
    <% end %>
</table>
 
<p>Phương thức thanh toán: <b><%= @order.pay_type %></b></p>
<p>Cảm ơn vì đã mua hàng tại <b>Dan Store<b> thân ái.</p>