<div id="main-content" class="col-sm-12">
  <!--<%= render top_banner %>-->
  <h3 class="page-name"><%= link_to 'Điện thoại', phone_posts_path %></h3>
  <div class="row">
    <%= render @phone_posts %>
    <%= render no_posts_partial_path(@phone_posts) %>
  </div><!-- row -->
  <hr>
  <h3 class="page-name"><%= link_to 'Máy tính xách tay', laptop_posts_path %></h3>
  <div class="row">
    <%= render @laptop_posts %>
    <%= render no_posts_partial_path(@laptop_posts) %>
  </div><!-- row -->
</div><!-- main_content -->