<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="posted-by">Posted by <%= @post.user.name %></div>
      <%= image_tag(@post.image_url.to_s) if @post.image? %>
      <h3><%= @post.info %></h3>
      <p><%= @post.title %></p>
      <h4><%= @post.price %>₫</h4>
    </div>
  </div><!-- row -->
</div>