<div id="single-post-content">
  <%
=begin%>
 <div class="row">
      <%= image_tag(@post.image_url.to_s) if @post.image? %>
      <div class="product-details">
        <h3><%= @post.info.html_safe %></h3>
        <p><%= @post.title %></p>
        <h4><%= number_to_currency(@post.price, :locale => :vi) %></h4>
        <%= button_to 'Add to Cart', line_items_path(:post_id => @post) %>

        <% if user_signed_in? && current_user.admin? %>
          <!--edit post-->
          <%= link_to edit_admin_post_path(@post), :class => 'edit_post' do %>
            <i class="fas fa-edit"></i>
          <% end %>
          
          <!--delete post
          <%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' },
            :remote => true, :class => 'delete_post' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>-->

        <% end %>
      </div>
  </div><!-- row --> 
<%
=end%>

  <!--ver 2-->
  <div class="product-window">
    <div class="info-sect left">

      <button id="back-btn"><i class="ion-arrow-left-c"></i></button>

      <div class="text-box">
        <h3><%= @post.title %></h3>
        <h5><%= number_to_currency(@post.price, :locale => :vi) %></h5>
      </div>
      <%= image_tag(@post.image_url.to_s, :class => "product-img") if @post.image? %>
    </div>
    <div class="info-sect right">
      <p><%= @post.info %></p>
      <p class="in-stock">In stock.</p>
      <div class="rating"><img class="stars" src="http://res.cloudinary.com/dcwodeda4/image/upload/v1503000014/stars_fysiop.png"/>
        <p class="review-sum">(4.67 - 172 reviews)</p>
      </div>
      <hr>
      <%= button_to 'Thêm vào giỏ', line_items_path(:post_id => @post), :class => 'add-to-cart' %>
    </div>
  </div>

</div>